# Core functionality - changes here should be rare!
/src/app.py                   @ptman
/src/backend/database.py      @ptman
/src/backend/routers/auth.py  @ptman

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ptman
